/*
*	HOJA DE ESTILOS PRÁCTICA 2
*/


/*Sección del estilo para el contenedor en general----*/

	div#contenedor {
		height: 90px;
		width: auto;
		margin: 0px;
	}
/*Seccion del estilo para la cabecera ----------------*/

	div#cabecera a, div#cabecera a:visited {
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
	div#cabecera a:hover {
		color:  #b12a2a;
		font-weight: bold;
	}
	div#cabecera{
		background-color: #EEE8AA;
		height: 120px;
		border-color:  #b12a2a;
		margin: 0px;
		padding: 10px;
		float: top;
	}

	.saludo {
		float: right;
	}
	.saludo a{
		display: inline-block;
		width: 100px;
		height: 40px;
		background-color: #8FBC8F;
		opacity: .8;
		line-height: 40px;
		text-align: center;
		font-size: 17px;
		border: 1px white outset;
	}
	.saludo p{
		font-size: 12px;
		
	}
/*Zona de estilo en el menuBar------------------------*/

	.navMenu ul{
		list-style: none;
		margin: 0px;
		padding-top: 36px;
		padding-left: auto;
		text-transform: uppercase;
	}

	.navMenu ul li{
		float:left;
		width: 120px;
		height: auto;
		background-color: #8FBC8F;
		opacity: .8;
		line-height: 40px;
		text-align: center;
		font-size: 17px;
		border: 1px white outset;

	}

	.navMenu ul li a{
		display: block;
		color: white;
		text-decoration: none;
	}

	.navMenu ul li a:hover{
		background-color: #DCDCDC;
	}
/*index*/


	div#news{
		background-color: #8FBC8F;
		display: flex;
		float: left;
		margin-top: 7%;
		min-height: 400px;

	}
	div#news h3{
		background-color: #5DADE2;
		padding: 2%;
		text-align: center;
		color: white;
		opacity: .8;
		line-height: 40px;
		text-shadow: 2px 2px black;
	}

	div#week{
		background-color: tomato;
		display: inline-grid;
		margin-left: 10%;
		margin-top: 2%;
		padding: 1%;
	}
	div#week h2{
		padding: 2%;
		text-align: center;
		color: white;
		opacity: .8;
		line-height: 40px;
		text-shadow: 2px 2px black;
		margin: auto;
	}

	div#week img{
		height: 250px;
		width: 250px;
		margin-left: 18%;

	}
	div#month{
		background-color: tomato;
		display: inline-grid;
		margin-left:15%;
		margin-top: 2%;
		padding: 1%;

	}

	div#month h2{
		padding: 2%;
		text-align: center;
		color: white;
		opacity: .8;
		line-height: 40px;
		text-shadow: 2px 2px black;
		margin: auto;
	}

	div#month img{
		height: 250px;
		width: 250px;
		margin-left: 5%;
	}

	div#publi{
		height: 200px;
		float: top;
		margin-left: 10%;
		display: grid;
	}
	.foto_publi{
		display: block;
		width: 784px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	.productos{
		margin-left: 20%;
		margin-right: 10%;
		display: block;
		float: center;
	}
	.products{
		background-color:#A569BD;
		display: inline-grid;
		margin-top: 5%;
		margin-left: 10%;
		position: bottom;
		text-align: center;
		border: 2px grey outset;
		width: 204px;
	}
	.name_product {
		background-color: #58A8CB;
		display: grid;
		bottom: 0;
	}

	.name_product p{
		 text-transform: uppercase;
		 font-family: sans-serif;
		 font-size: 120%;
		 font-style: italic;

	}
	.products img{
		background-color:#EEE8AA;
	}

	.p_product a{
		color: black;
		font-weight: bold;
		text-decoration: none;
		display: inline-grid;
	}
	.p_product a:hover {
		color:  grey;
		font-weight: bold;
	}

	.p_product p{
		color:#F4D03F;
	}
	.products img{
		border: 2px grey outset;
		height: 200px;
		width: 200px;
	}
/*Fuentes y estilos para etiquetas universales -------*/

	img {
		float: left;
		width: auto;
		height: 100px;
	}

	h1{
		font-weight: normal;
		font-family:  Helvetica, Arial, sans-serif;
		font-size: 40px;
	}

	h2{
		font-weight: normal;
		font-family:  Helvetica, Arial, sans-serif;
		font-size: 35px;
	}

	h3{
		font-weight: normal;
		font-family:  Helvetica, Arial, sans-serif;
		font-size: 30px;
	}

	p{
		text-align: center;
		font-size: 24 px;
		font-family: "Arial", serif ;
	}

	table, th, td {
  		border: 1px solid black;
  		padding: 20px;
   		margin-left:auto;
	 	margin-right:auto;
  		font-size: 18px;
		font-family: "Arial", serif;
	}

/*Productos Completos*/

	div#producto_total{
		display: grid;
	}

	div#img_total img{
		height: 300px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5%;
	}
	div#nombre_total{
		display: block;
		text-transform: uppercase;
		margin-top: 5%
	}
	div#puntos_total{

	}
	div#desc_total{
		
		text-align: center;
	}
	div#edad_total{

	}
	div#jugadores_total{

	}
	div#link_total{

	}
	div#empresa_total{

	}
	div#reacciones{
		background-color: #8FBC8F;
		display: inline-flex;
		float: right;
		margin-top: 7%;
		min-height: 400px;
	}

	div#reacciones input{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	div#reacciones p{
		background-color: #5DADE2;
		padding: 2%;
		text-align: center;
		color: white;
		opacity: .8;
		line-height: 40px;
		text-shadow: 2px 2px black;
	}

/*MI BOQUERON*/


	div#muestraUser{
		display: inline-grid;
		margin-top: 5%;
		margin-left: 5%;
	}
	div#img_user img{
		height: 300px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 5%;
		display: grid;
		float: left;
		padding: 5%;
	}

	div#user_nick h1{
	}

	div#user_name h2{
	}

	div#user_rol h2{
	}

	div#user_emai h3{
	}

	div#user_birt h3{
	}

	div#user_desc p{
		text-align: left;
	}

	div#user_poin p{
		text-align: left;
		font-size: 24 px;
		font-family: "Arial", serif ;
	}

	div#admin{
		float: right;
		display: inline-grid;
		margin-top: 5%;
		background-color: #8FBC8F;
	}

	div#admin form{
		display: inline-grid;
		margin-top: 2%;
		float: right;
	}

	div#admin input{
		margin-top: 2%;
		float: right;
	}
	div#admin button{
		margin-top: 2%
	}

	div#admin a ,div#admin a:visited{
		color: black;
		font-weight: bold;
		text-decoration: none;
		display: inline-grid;
		width: 100px;
		height: 40px;
		background-color: #5DADE2;
		opacity: .8;
		line-height: 40px;
		text-align: center;
		font-size: 17px;
		border: 1px white outset;
		margin-left: auto;
		margin-right: auto;
	}

	div#admin a:hover {
		color:  #b12a2a;
		font-weight: bold;
	}
	

	



